// Media

/*Footer*/
@media screen and (max-widht: 768px) {

.footer{
            .footer-row {
                align-items: center;

                .footer-links {
                    width: 100%;
                    margin-bottom: 30px;

                }
            }
        }
    }