// Media

/* Index*/

@media screen and (max-widht: 768px) {
    .contenedor {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin: 10%;

    // background-color: rgb(75, 75, 75);
    .menu-contenedor {
        display: block;

        // display: flex;
        .text-contenedor {
            display: block;
            align-items: center;
            color: black;
            padding-right: 40px;

            strong {
                display: block;
                text-align: center;
                font-size: 30px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            h1 {
                // display: block;
                // text-align: center;
                // font-size: 70px;
                @include block (center, 70px);
                font-weight: 800px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
            }

            p {
                display: block;
                text-align: center;
                padding-right: 40px;

                .span-text {
                    color: brown;
                }
            }
        }



.imagen-contenedor {
    img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center  ;
        width: 200px;
        height: 150px;
        // padding-right: 40px;
        // padding-bottom: 40px;
        border-radius: 5px;
        // margin: 10%;


    }

}
    }
}
}


@media screen and (max-widht: 768px) {
    /*Footer*/

    .footer {
        background-color: #24262B;
        padding: 80px 0;

        .footer-container {
            margin: 0;

            .footer-row {
                display: flex;
                flex-wrap: wrap;

                .footer-links {
                    width: 25%;
                    padding: 0 15px;

                    h4 {
                        font-size: 20px;
                        color: #FFFFFF;
                        margin-bottom: 25px;
                        font-weight: 500;
                        border-bottom: 2px solid brown;
                        padding-bottom: 10px;
                        // display: inline-block;
                        text-align: center;
                    }

                    ul {


                        li {

                            a {

                                text-decoration: none;
                                color: #BBBBBB;
                                font-size: 18px;
                                display: block;
                                margin-bottom: 15px;
                                transition: all .3s ease;

                                &:hover {
                                    color: #FFFFFF;
                                    padding-left: 6px;
                                }
                            }
                        }

                        .social-links {
                            display: inline-block;
                            min-height: 40px;
                            background-color: rgba(255, 255, 255, 0.2);
                            margin: 0 10px 10px 0;
                            text-align: center;
                            line-height: 40px;
                            border-radius: 50%;
                            color: #FFFFFF;
                            transition: all .5s ease;

                            // justify-content: space-around;
                            &:hover {
                                background-color: #00c3ff;
                            }
                        }
                    }
                }
            }
        }
    }

    .bar {
        display: flex;

        .bebidas {
            margin: 0;

            .container-bar {
                display: flex;
                width: 100%;
                cursor: pointer;

                .subcontainer-bar {
                    display: flex;
                    // margin: 20px;
                    width: 100%;
                    h3 {
                        text-align: center;
                        font-family: "Times New Roman", Times, serif;
                        // font-size: 25px;
                    }

                    img {
                        display: flex;
                        width: 100%;
                        // width: 150px;
                        // height: 150px;
                        border-radius: 6px;
                        box-shadow: 10px 11px 13px 0px black;
                    }
                }
            }
        }
    }
}
    