// Media

/*Footer*/
@media screen and (max-widht: 768px){
    .footer {
        background-color: #24262B;

      }
      .footer .footer-container {
        display: flex;
      }
      .footer .footer-container .footer-row {
        display: flex;
        flex-direction: column;
      }
      .footer .footer-container .footer-row .footer-links {
        width: 100%;
      }
      .footer .footer-container .footer-row .footer-links h4{
        color: gold;
      }
    
}

